@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

@media screen and (max-width: 992px) {
	body{
		background-image: none !important;
		font-size: 16px !important;
	}
	
	.container-fluid{
		margin: 0px !important;
	}

	#tagline{
		display:none;
	}

	nav[role=navigation]{
		text-align: left !important;
		position: relative;
	}
}

nav[role=navigation]{
	position: static;
	top: 10px;
	right: 10px;
	text-align: right;	
}

body{
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

.container-fluid{
	margin-left: 30%;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;	
	background-image: url("../img/ricepaper_v3.png");
	opacity: 0.9;	
}

nav[role=navigation] ul{
	padding: 0px;
	margin: 0px;
}

nav[role=navigation] li{
	list-style-type: none;
	margin-right: 1em;
	display: inline-block;
}

nav[role=navigation] li a{
	color: #55E;	
}

nav[role=navigation] a:hover{
	color: #00E;
}

a:link, a:visited{
	color: #0000AA;
	text-decoration: none !important;
}

a:hover, input:focus {
	color: #0000EE;
	text-decoration: none !important;
}

h1, h2, h3{	
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', serif;
	font-weight: 300;
}

h1{
	font-size: 300%;
	margin: 0px;
}

h2{
	color: #505050;
	font-size: 150%;
	margin: 0px;
}

h3{
	font-size: 125%;
	color: #505050;
}

header{
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: 5px, #EA4A00;
	color: #FFFFFF;
}

#tagline{
	font-size: 120%;
	color: #EEEEEE;
	margin: 0px;
}

#location{
	padding: 1em;
}

#menu{
	padding: 1em;
	background-color: rgba(207, 205, 140, 0.5);	
}

dd{
	font-size: 80%;
	font-style: italic;
	margin-bottom: 1em;
	margin-left: 1em;
}

#pizza{
	font-weight: 400;
}

#about{
	padding: 1em;
}

footer{
	padding: 1em;
	background-color: #FC892F;
	border-top: 5px, #EC791F;
	font-size: 80%;
	text-align: right;
}